<div id="lander">
	<div id="logo"></div>

	<div id="preview">
		<div id="slide"></div>
		<div id="leagues"></div>
	</div>

	<div>
		<div id="subscribe-button"></div>
		<div id="phone-box"></div>
		<div id="pin-box"></div>

		<div class="disclaimer" id="disclaimer">
			Abonnement kroner 100 per uke. Kundeservice: (+47) 22120331. Ved å bekrefte kjøpet av denne tjenesten, godkjenner du abonnementsvilkårene til denne avtalen, pris 100 kr. per uke inkl. mva. Beløpet blir belastet din mobilfaktura eller annen valgt betalingsmetode på Strex.no. Dette er en abonnementstjeneste som automatisk fornyes hver uke. Du kan når som helst avslutte abonnementet ditt ved å går til kontosiden i tjenesten. Tjenesten løper med automatisk fornyelse frem til du stopper tjenesten. For hjelp/support, ring (+47) 22120331. Aldersgrense 18 år. Denne tjenesten leveres av WeVenture
		</div>
	</div>
</div>