<div id="lander">
	<div>
		<div id="logo"></div>
	</div>

	<div>
		<div id="preview"></div>

		<div id="subscribe-button"></div>

		<div id="disclaimer">
			Możesz dezaktywować poprzez: przez adresa URL otrzymany w wiadomości powitalnej lub odnawiającej. Więcej o dezaktywacji i zawieszeniu subskrypcji dowiesz się w <a href="https://www.mocoplay.com/legal/terms">Regulaminie Mocoplay</a>.
		</div>
	</div>
</div>