#export-button{
	position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(-90deg, #EE7752, #E73C7E, #23A6D5, #23D5AB, #EE7752);
    background-size: 400% 100%;
    font-weight: 700;
    border: none;
    border-radius: 0.25em;
    font-size: 14px;
    padding: 0;
    margin: 0;
    animation: Gradient 4s ease infinite;
    text-decoration: none;
    padding: 5px 10px;
    font-family: none;
    z-index: 9999;
}

@keyframes Gradient {
    50% {
        background-position: 140% 50%;
        transform: translateX(-50%) skew(-2deg);
    }
}